@tailwind base;
@tailwind components;
@tailwind utilities;

/* .blank{

    background: url(../src/assets/image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


:root{
    background-color: white;
    color: black;
}